[submodule "eclipse.jdt.core"]
	path = eclipse.jdt.core
	url = git@github.com:noahknapen/eclipse.jdt.core.git
	branch = fsc4j-completion
[submodule "eclipse.jdt.debug"]
	path = eclipse.jdt.debug
	url = https://github.com/fsc4j/eclipse.jdt.debug
	branch = fsc4j
[submodule "eclipse.jdt.ui"]
	path = eclipse.jdt.ui
	url = git@github.com:noahknapen/eclipse.jdt.ui.git
	branch = fsc4j-completion
[submodule "eclipse.platform.text"]
	path = eclipse.platform.text
	url = git@github.com:noahknapen/eclipse.platform.text.git
	branch = fsc4j-completion
[submodule "jikespg"]
	path = jikespg
	url = git@github.com:noahknapen/jikespg.git
	branch = fixes-combined
