[submodule "eclipse.jdt.core"]
	path = eclipse.jdt.core
	url = git@github.com:noahknapen/eclipse.jdt.core.git
	branch = fsc4j-completion
[submodule "eclipse.jdt.debug"]
	path = eclipse.jdt.debug
	url = https://github.com/fsc4j/eclipse.jdt.debug
	branch = fsc4j
[submodule "eclipse.jdt.ui"]
	path = eclipse.jdt.ui
	url = git@github.com:noahknapen/eclipse.jdt.ui.git
